#root {
  margin: 2%;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 10px;
}

.article_card {
  border-color: aqua;
  border-radius: 2em;
  border-style: solid;
  margin-bottom: 2em;
}

img {
  border-radius: 25px;
  width: auto;
  height: auto;
  max-width: 60%;
  max-height: 60%;
}

.article > h6 {
  margin: 5px;
}

.comments {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1, minmax(352px, 1fr));
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: rgb(17, 155, 102);
  border-style: solid;
  border-radius: 25px;
}

.comment_card {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: rgb(17, 155, 155);
  border-style: solid;
  border-radius: 25px;
}

.flex {
  display: flex;
}

.delete_button {
  text-align: center;
  margin-top: 5px;
  margin-left: 20px;
  width: min-content;
  height: min-content;
}

.votes {
  padding: 0px;
}

.comment_card_internal {
  margin-top: 5px;
  margin-bottom: 5px;
}

.read-the-docs {
  color: #888;
}
